services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: bbaas-server:latest
    ports:
      - "8080:8080"
    environment:
      OLLAMA_MODEL: "gemma3:4b"
      OLLAMA_ENDPOINT: "http://10.0.0.115:11434"
      WORKER_IMAGE: "bbaas-worker:latest"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  worker:
    build:
      context: .
      dockerfile: cmd/worker/Dockerfile
    image: bbaas-worker:latest
